.container {
    display: flex;
    flex-direction: row;
}

.clients-list-column {
    flex: 1;
    border-right: 1px solid rgba(0,0,0,.12);
}

.about-client-column {
    flex: 3;
}

mat-list{
    padding-top: 0px;
    border-top: 1px solid rgba(0,0,0,.12);
}
